@charset "UTF-8";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.7142;
  padding: 0;
  margin: 0 auto;
  background-color: #f2f2f2;
}

h2, h3, .main-title {
  font-size: 21px;
  line-height: 1.2381em;
}

ul {
  margin: 0;
}

button {
  text-transform: inherit;
  font-family: inherit;
}

legend {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 25px;
  font-weight: 700;
}

fieldset {
  border: none;
  padding: 0;
  margin-right: 12px;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

/*Hiding spinners in num fields by default*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
margin: 0; 
}

input[type='number'] {
-moz-appearance: textfield;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.main-navigation {
  padding: 15px 0;
}

.main-navigation ul {
  list-style: none;
  padding-left: 0;
}

.main-navigation li {
  float: left;
  width: 20%;
  text-align: center;
}

.main-navigation li:nth-child(n+3) {
  float: right;
  /*text-align: right;*/
}

.main-navigation a {
  color: inherit;
  text-decoration: none;
  display: block;
  font-weight: 700;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #b2b2b2;
}

.main-navigation .active {
  color: #766357;
}

.main-navigation .active:hover {
  color: #604e43;
}

.main-navigation .active:active {
  color: #d6d0cc;
}

.main-navigation .logo,
.main-navigation.main-navigation-hotels > a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.container-hotels {
  width: 1200px;
  margin: 0 auto;
  padding: 0 73px;
}

.intro {
  background: #dceaf3 url("../img/bacground-index-2.jpg") no-repeat 0 -57px;
  padding: 75px 0 73px;
  margin-bottom: 60px;
}

.title-secondary {
  width: 500px;
  margin: 0 auto 30px;
  text-align: center;
}

.subtitle {
  display: block;
  width: 500px;
  margin: 0 auto 50px;
  text-align: center;
}

.search .subtitle {
  width: 500px;
}

.reasons {
  font-size: 0;
  margin-bottom: 49px;
}

.reason,
.reason-img,
.feature {
  display: inline-block;
}

.reason,
.feature {
  width: 33.33%;
  vertical-align: top;
}

.reason-wrapper {
  background-color: #81b3d2;
}

.reason-img {
  width: 66.66%;
  vertical-align: middle;
}

.reason-title,
.feature-title {
  font-size: 21px;
  line-height: 1;
}

.reason-nmb,
.reason-text,
.feature-text {
  font-size: 14px;
}

.reason-img img,
.feature-img,
.reason-title {
  display: block;
}

.reason-title {
  margin: 0 0 25px;
  padding: 0 60px;
}

.feature-img {
  margin: 0 auto 30px;
}

.reason {
  padding: 55px 45px 37px;
  background-color: #eee;
}

.reason-text {
  line-height: 1.7142;
  margin-top: 23px;
  margin-bottom: 10px;
}

.reason-nmb {
  display: block;
  margin-bottom: -5px;
}

.reason-blue {
  background-color: #81b3d2;
  color: #fff;
}

.feature {
  padding: 60px 55px;
  min-height: 330px;
}

.feature-text {
  margin-top: 23px;
}

.reason-nmb::before,
.reason-nmb::after {
  content: "\2014";
  margin: 0 4px;
}

section:nth-child(n+4) .reason {
  padding: 45px 60px 47px;
}

.search {
  position: relative;
}

.search .title-secondary {
  font-size: 30px;
  margin-bottom: 25px;
}

.modal-header {
  width: 570px;
  text-align: center;
  background-color: #766357;
  color: white;
  padding: 30px 130px;
  font-size: 21px;
  font-weight: 700;
  border: none;
  text-decoration: none;
}

.search-form {
  width: 570px;
  position: absolute;
  left: 315px;
  background-color: #fff;
  padding: 55px;
  font-weight: 700;
  box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.form-group label,
.input-count-wrapper {
  display: inline-block;
}

.form-group {
  text-align: left;
  margin-bottom: 30px;
  position: relative;
}

.icon {
  position: absolute;
  font-size: 21px;
  line-height: 26px;
  color: #c2c2c2;
}

.icon-calendar {
  top: 6px;
  right: 6px;
}

.icon:hover {
  color: #000;
}

.icon:active {
  color: #81b3d2;
}

.icon-minus,
.icon-plus {
  display: block;
  width: 38px;
  height: 38px;
  text-align: center;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #a9a9a9;
}

.icon-plus {
  right: 0;
  bottom: 0;
}

.form-group label {
  width: 110px;
}

.form-group input {
  padding: 11px 40px 11px 15px;
  border: none;
  background-color: #f2f2f2;
  width: 345px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-group input:hover {
  background-color: #ebebeb;
}

.form-group input:focus {
  background-color: #fff;
  outline: 2px solid #e5e5e5;
}

.input-count-wrapper {
  font-size: 0;
}

.input-count-wrapper input {
  width: 114px;
  font-size: 14px;
}

.input-count-wrapper input {
  padding-left: 13px;
  padding-right: 13px;
  text-align: center;
}

.to-left label {
  width: 112px;
}

.to-right label {
  width: 65px;
}

.btn {
  width: 455px;
  color: #fff;
  background-color: #81b3d2;
  padding: 16px 0;
  border: none;
  font-weight: 700;
  text-decoration: none;
}

.search-form .btn {
  margin-top: 23px;
  font-size: 21px;
}

.search-form .btn:hover {
  background-color: #669ec0;
}

.search-form .btn:active {
  background-color: #669ec0;
  color: #88b6d1;
}

.main-footer {
  height: 120px;
  padding: 35px 0;
}

.main-footer section,
.footer-copyright a,
.footer-copyright p {
  display: inline-block;
  vertical-align: middle;
}

.footer-social {
  font-size: 0;
}

.footer-social a {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 5px;
  font-size: 21px;
  line-height: 48px;
  text-decoration: none;
  color: #fff;
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:active {
  background-color: #5496bd;
}

.footer-social a:active i {
  opacity: .3;
}

.footer-social a:last-child {
  margin-right: 0;
}

.main-footer section {
  width: 33%;
  text-align: center;
}

.footer-hashtag b {
  font-size: 21px;
}

.footer-copyright p {
  margin-right: 6px;
}

.hotels-form {
  padding: 27px 0 5px;
  background: #6b98c1;
  margin-bottom: 11px;
}

.amenities {
  float: left;
  width: 240px;
}

.accomondation-type {
  float: left;
  width: 290px;
}

.price-range {
  float: right;
  width: 330px;
}

.filter {
  display: none;
}

.filter-label {
  line-height: 21px;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-bottom: 25px;
}

.filter + .filter-label::before {
  content: "\2610";
  font-family: "symbols-sedona";
  display: inline-block;
  vertical-align: top;
  font-size: 26px;
  margin-right: 19px;
}

.filter:checked + .filter-label::before {
  content: "\2611";
  margin-right: 15px;
}

.sorters {
  padding: 15px 0;
}

.sorter {
  padding: 0;
  border: none;
  background: none;
}

.sorter:not(.arr) {
  color: #b7b7b7;
  border-bottom: 1px dotted #81b3d2;
}

.sorter:not(.arr):hover {
  color: #81b3d2;
  cursor: pointer;
}

.sorter:not(.arr):active {
  color: #000;
  border: none;
}

.sorter.btn-active {
  color: #81b3d2;
  border: none;
}

.sorter.btn-active:hover {
  cursor: default;
}

.sorters-left {
  float: left;
  font-size: 0;
  vertical-align: baseline;
}

.sorters-right {
  float: right;
}

.sorters-results {
  margin-right: 48px;
  font-size: 21px;
}

.sorters-type,
.sorter:not(.arr) {
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 40px;
}

.sorter:not(.arr) {
  margin-right: 33px;
}

.sorter:last-child {
  margin-right: 0;
}

.sorter.arr {
  color: #b7b7b7;
}

.sorter.arr-active {
  color: #81b3d2;
}

.sorter.arr:first-child {
  margin-right: 10px;
}

.sorters-results,
.sorters-type,
.sorter {
  display: inline-block;
  vertical-align: baseline;
}

.search-results {
  width: 1055px;
}

.hotel-row {
  padding: 30px 0;
}

.hotel-pic {
  width: 165px;
}

.hotel-title {
  margin: 0 0 6px;
  line-height: 26px;
}

.hotel-content {
  vertical-align: top;
}

.hotel-info {
  margin-bottom: 13px;
}

.hotel-type,
.hotel-price,
.more,
.book {
  display: inline-block;
}

.hotel-type,
.more {
  width: 110px;
  margin-right: 6px;
}

.hotel-price,
.book {
  width: 142px;
}

.hotel-btns button {
  padding: 5px 16px;
  border: none;
  color: #fff;
  font-weight: 700;
}

.more {
  background-color: #81b3d2;
}

.book {
  background-color: #766357;
}

.stars {
  color: #81b3d2;
  font-size: 21px;
}

.rating {
  width: 110px;
  background-color: #f2f2f2;
  padding: 3px 11px;
}

.price-range {
  text-align: center;
}

.btn-hotels {
  display: inline-block;
}

.main-footer-index {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 127px;
  background-color: rgba(255, 255, 255, 0.9);
}

.container-footer {
  width: 1200px;
  margin: 0 auto;
}

.ratings {
  text-align: right;
}

.filter-label {
  display: block;
}

.filter-range {
  float: right;
  width: 330px;
  color: #fff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #fff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 163px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0 5px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -8px;
  width: 18px;
  height: 18px;
  background: #ababab;
  border: 7px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000;
  background: #fff;
}
