*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.7142em;
  padding: 0;
  margin: 0;
}

h2, h3, .main-title {
  font-size: 21px;
  line-height: 1.2381em;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.main-navigation li {
  display: inline-block;
  width: 20%;
  outline: 1px dotted red;
}

.container {
  width: 1200px;
  margin: 0 auto;
  outline: 1px dotted red;
}

.container-hotels {
  width: 1200px;
  margin: 0 auto;
  padding: 0 73px;
  outline: 1px dotted red;
}

.main-header {
  margin-bottom: 75px;
}

.intro {
  width: 460px;
  margin: 0 auto 120px;
}

.title-secondary {
  width: 500px;
  margin: 0 auto 30px;
  text-align: center;
}

.subtitle {
  display: block;
  width: 500px;
  margin: 0 auto 50px;
  text-align: center;
}

.first-reason-with-img,
.first-reason-img,
.features div,
.second-reason-img,
.second-reason-with-img,
.reason {
  display: inline-block;
}

.first-reason-img,
.second-reason-img {
  width: 66%;
}

.features div,
.first-reason-with-img,
.second-reason-with-img,
.reason {
  width: 33%
}

/*.first-reason-with-img,
.second-reason-with-img {
  width: 400px;
}

.first-reason-witn-img {
  float: left;
}

.second-reason-with-img {
  float: right;
}

.first-reason-img,
.second-reason-img {
  width: 800px;
}

.first-reason-img {
  float: right;
}

.second-reason-img {
  float: left;
}

.features > div {
  float: left;
  width: 400px;
  height: 330px;
}

.reason {
  float: left;
  width: 400px;
  height: 255px;
}*/

.search {
  position: relative;
}

.modal-header {
  width: 570px;
  margin: 50px auto 0;
  text-align: center;
  background-color: #766357;
  color: white;
}

.search-form {
  width: 570px;
  position: absolute;
  left: 315px;
  background-color: #ffffff;
  padding: 55px;
}

.btn {
  width: 455px;
  height: 60px;
}

.main-footer {
  height: 120px;
  /*position: absolute;*/
}

.main-footer section,
.footer-copyright a,
.footer-copyright p {
  display: inline-block;
}

.main-footer section {
  width: 33%;
  text-align: center;
}

/*.footer-hashtag {
  float: left;
  width: 240px;
  margin-top: 50px;
  margin-right: 90px;
  margin-left:75px;
  text-align: center;
}

.footer-social {
  float: left;
  width: 400px;
  margin-top: 20px;
}

.footer-copyright {
  width: 240px;
  float: right;
  margin-right: 75px;
  margin-top: 40px;
}

.footer-copyright > a {
  float: right;
}*/

.hotels-form {
  padding: 30px 0;
}

.amenities {
  float: left;
  width: 240px;
}

.accomondation-type {
  float: left;
  width: 290px;
}

.price-range {
  float: right;
  width: 330px;
}

.filter {
  display: block;
}

.sorters {
  padding: 30px 0;
}

.sorter {
  display: inline-block;
}

.sorters b {
  margin-right: 50px;
}

.sorters span {
  margin-right: 40px;
}

.sorter {
  margin-right: 35px;
}

.search-results {
  width: 1055px;
}

.hotel-row td {
  padding: 30px 0;
}

.hotel-pic {
  width: 165px;
}
