*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.7142em;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

h2, h3, .main-title {
  font-size: 21px;
  line-height: 1.2381em;
}

ul {
  margin: 0;
}

button {
  text-transform: inherit;
  font-family: inherit;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

/*Hiding spinners in num fields by default*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
margin: 0; 
}

input[type='number'] {
-moz-appearance: textfield;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.main-navigation {
  background-color: #fff;
  padding: 15px 0;
}

.main-navigation ul {
  list-style: none;
  padding-left: 0;
}

.main-navigation li {
  float: left;
  width: 20%;
  text-align: center;
}

.main-navigation li:nth-child(n+3) {
  float: right;
  /*text-align: right;*/
}

.main-navigation a {
  color: #000;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.main-navigation .logo,
.main-navigation.main-hotels > a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.container-hotels {
  width: 1200px;
  margin: 0 auto;
  padding: 0 73px;
}

.intro {
  background: url("../img/bacground-index-2.jpg") no-repeat 0 -56px;
  padding: 75px 0 74px;
  margin-bottom: 60px;
}

.title-secondary {
  width: 500px;
  margin: 0 auto 30px;
  text-align: center;
}

.subtitle {
  display: block;
  width: 500px;
  margin: 0 auto 50px;
  text-align: center;
}

.reasons {
  font-size: 0;
  margin-bottom: 55px;
}

.reason,
.reason-img,
.feature {
  display: inline-block;
}

.reason,
.feature {
  width: 33.33%;
  vertical-align: top;
}

.reason-img {
  width: 66.66%;
  vertical-align: middle;
}

.reason-title,
.feature-title {
  font-size: 21px;
}

.reason-nmb,
.reason-text,
.feature-text {
  font-size: 14px;
}

.reason-img img,
.feature-img,
.reason-title {
  display: block;
}

.reason-title {
  margin: 0 85px 25px;
}

.feature-img {
  margin: 0 auto 30px;
}

.reason {
  padding: 59px 35px 24px;
  background-color: #eeeeee;
}

.reason-blue {
  background-color: #81b3d2;
  color: #fff;
}

.feature {
  padding: 60px 0;
}

.reason-nmb::before,
.reason-nmb::after {
  content: "\2014"
}

.search {
  position: relative;
}

.modal-header {
  width: 570px;
  text-align: center;
  background-color: #766357;
  color: white;
  padding: 30px 130px;
  font-size: 21px;
  font-weight: bold;
  border: none;
  text-decoration: none;
}

.search-form {
  width: 570px;
  position: absolute;
  left: 315px;
  background-color: #ffffff;
  padding: 55px;
  font-weight: bold;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.form-group label,
.input-count-wrapper {
  display: inline-block;
}

.form-group {
  text-align: left;
  margin-bottom: 30px;
  position: relative;
}

.icon {
  position: absolute;
  font-size: 21px;
  line-height: 26px;
  color: #c2c2c2;
}

.icon-calendar {
  top: 6px;
  right: 10px;
}

.icon:hover {
  color: #000;
}

.icon:active {
  color: #81b3d2;
}

.icon-minus,
.icon-plus {
  display: block;
  width: 38px;
  height: 38px;
  text-align: center;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #a9a9a9;
}

.icon-plus {
  right: 0;
  bottom: 0;
}

.form-group label {
  width: 110px;
}

.form-group input {
  padding: 11px 40px 11px 15px;
  border: none;
  background-color: #f2f2f2;
  width: 340px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-group input:hover {
  background-color: #ebebeb;
}

.form-group input:focus {
  background-color: #fff;
  outline: 2px solid #e5e5e5;
}

.input-count-wrapper {
  font-size: 0;
}

.input-count-wrapper input {
  width: 114px;
  font-size: 14px;
}

.input-count-wrapper input {
  padding-left: 13px;
  padding-right: 13px;
  text-align: center;
}

.to-left label {
  width: 112px;
}

.to-right label {
  width: 65px;
}

.btn {
  width: 455px;
  color: #fff;
  background-color: #81b3d2;
  padding: 16px 0;
  border: none;
  font-weight: bold;
  text-decoration: none;
}

.search-form .btn:hover {
  background-color: #669ec0;
}

.search-form .btn:active {
  background-color: #669ec0;
  color: #88b6d1;
}

.main-footer {
  height: 120px;
  padding: 35px 0;
}

.main-footer section,
.footer-copyright a,
.footer-copyright p {
  display: inline-block;
  vertical-align: middle;
}

.main-footer section {
  width: 33%;
  text-align: center;
}

.hotels-form {
  padding: 30px 0;
}

.amenities {
  float: left;
  width: 240px;
}

.accomondation-type {
  float: left;
  width: 290px;
}

.price-range {
  float: right;
  width: 330px;
}

.sorters {
  padding: 15px 0;
}

.sorter {
  padding: 0;
  border: none;
  background: none;
}

.sorters-left {
  float: left;
  font-size: 0;
}

.sorters-right {
  float: right;
}

.sorters-results {
  padding-right: 50px;
  font-size: 21px;
}

.sorters-type,
.sorter:not(.arr) {
  font-size: 12px;
  text-transform: uppercase;
  padding-right: 40px;
}

.sorter:last-child {
  padding-right: 0;
}

.sorter.arr:first-child {
  padding-right: 10px;
}

.sorters-results,
.sorters-type,
.sorter {
  display: inline-block;
  vertical-align: middle;
}

.search-results {
  width: 1055px;
}

.hotel-row td {
  padding: 30px 0;
}

.hotel-pic {
  width: 165px;
}

.hotel-title {
  margin: 0 0 12px;
}

.hotel-content {
  vertical-align: top;
}

.hotel-info {
  margin-bottom: 15px;
}

.hotel-type,
.hotel-price,
.more,
.book {
  display: inline-block;
}

.hotel-type,
.more {
  width: 110px;
  margin-right: 6px;
}

.hotel-price,
.book {
  width: 142px;
}

.price-range {
  text-align: center;
}

.btn-hotels {
  display: inline-block;
}

.main-footer-index {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}

.container-footer {
  width: 1200px;
  margin: 0 auto;
}

.ratings {
  text-align: right;
}

.filter-label {
  display: block;
}
